/* Hero Section */
.hero-section {
  height: 100vh;
  position: relative;
}
.hero-section .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.hero-section .content {
  z-index: 1;
  position: relative;
}

.intro-subtitle {
  font-size: 1.5rem;
  font-weight: normal;
}

/* Cursor customization */
.typed-cursor {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

/* Hide text source */
.intro-subtitle .text-slider-items {
  display: none;
}

/* Ensure typed text not bold */
.text-slider {
  font-weight: 400;
}
